@model IEnumerable<Rezervigo.Models.Reservation>

@{
    ViewBag.Title = "Dashboard";
}
@Styles.Render("~/fullcalendar-css")
<h2>Dashboard</h2>

<div id='calendar'></div>
@section scripts{
    @Scripts.Render("~/fullcalendar-js")
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                defaultView: 'dayGridMonth',
                defaultDate: '2019-11-07',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: [
                    {
                        
                    },
                ]
            });

            calendar.render();
        });
    </script>
}